body {
    font-family: 'Open Sans', sans-serif;
}

.bg-transparent {
    background-color: transparent;
}

.jumbotron {
    margin-top: -100px;
    padding-top: 12%;
    padding-bottom: 10%;
    color: #fff;
    background-image: linear-gradient(rgba(0, 0, 0, 0.79), rgba(2, 2, 2, 0.43)), url(img/bg.jpg);
    background-size: cover;
}

/* TYPOGRAPHY */

.jumbotron h1 {
    font-family: 'Open Sans Condensed', sans-serif;
    text-transform: uppercase;
}

.title {
    font-weight: 700;
}