body {
    font-family: 'Open Sans', sans-serif;
}

.bg-transparent {
    background-color: transparent;
}

.jumbotron {
    margin-top: -100px;
    margin-bottom: 0;
    padding-top: 12%;
    padding-bottom: 10%;
    color: #fff;
    background-image: linear-gradient(rgba(0, 0, 0, 0.79), rgba(2, 2, 2, 0.43)), url(img/bg.jpg);
    background-size: cover;
}

/* TYPOGRAPHY */

.jumbotron h1 {
    font-family: 'Open Sans Condensed', sans-serif;
    text-transform: uppercase;
}

.title {
    font-weight: 700;
}

#about-section {
    padding: 3% 0 1% 0;    
}

/* COUNTDOWN */

#countdown {
    padding: 2% 0;
    background-color: #007bff;
    color: #fff;
    text-align: center;
}

#timer {
    margin-top: -10px;
    padding-bottom: 20px;
}

#days, #hours, #minutes, #seconds {
    font-size: 350%;
    text-align: center;
}

span {
  display: block;
  font-size: 20px;
}